h1,
p,
footer {
  text-align: center;
}
body {
  background-color: rgb(245, 250, 112);
}
.pic {
  display: block;
  max-width: 100%;
  margin: 40px auto;
  border-radius: 10px;
}
.link{

  color: green;
  margin: 10px;

}